[Unit]
Description=CoreDNS Server Service
After=network.target

[Service]
Type=fork
ExecStart=/opt/apps/coredns-1.7.0/coredns_linux_amd64_v1.7.0 -conf /opt/apps/coredns-1.7.0/Corefile
#ExecStartPost=/bin/mkdir -p /mnt/disk1/coredns && /bin/echo $MAINPID >/mnt/disk1/coredns/coredns.pid
ExecStop=/bin/kill -s HUP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
#StandardOutput=/mnt/disk1/log/coredns/coredns.out
StandardError=journal
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target